.row{


    font-size:1.5rem;
  }

  .eachfood{
    margin-top: 50px;
      width: 100%;
      display: grid;
      grid-gap: 25px;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    }
    