

.eachfood{
  margin-top: 50px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}


.form,.eachfood{

  
  margin-left:30px;
  font-family: 'Oswald', sans-serif;
}

.form{

margin-top: 65px;

}

.ALLcontainer{

 background-color:darkkhaki;
 
 height:100vh;
}


.row{
  font-size:35px;

  font-family: 'Lobster', cursive;

  margin-top:20px;
}